[submodule "42_M00-01_c_library"]
	path = 42_M00-01_c_library
	url = git@github.com:vincent-syma/42_M00-01_c_library.git
[submodule "42_system_administration"]
	path = 42_system_administration
	url = git@github.com:vincent-syma/42_system_administration.git
[submodule "42_M02_push_swap"]
	path = 42_M02_push_swap
	url = git@github.com:vincent-syma/42_M02_push_swap.git
[submodule "42_M02_python_learning"]
	path = 42_M02_python_learning
	url = git@github.com:vincent-syma/42_M02_python_learning.git
